.inputFields {
  display: flex;
  font-size: large;
  height: 50px;
  align-items: center;
  margin-left: 40%;
}

.buttonFields {
  display: flex;
  align-items: center;
  height: 80px;
  margin-left: 30%;
}

.navBar {
  display: flex;
  color: white;
  font-size: large;
}
